@tailwind base;

@layer base {
  h1 {
    @apply text-4xl sm:text-6xl md:text-7xl font-semibold leading-snug;
  }
  h2 {
    @apply text-[32px] font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold text-slate-300;
  }
  h4 {
    @apply text-xl md:text-2xl text-slate-300;
  }
  p {
    @apply text-lg md:text-xl text-slate-400;
  }
  li {
    @apply text-lg md:text-xl text-slate-400;
  }
  a {
    @apply text-base md:text-xl text-slate-400;
  }
  html {
    font-family: calibre;
    /* @apply mx-5 sm:mx-10 md:mx-20; */
  }
  * {
    @apply bg-gray-800;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfmono";
  src: url("../../public/SF-Mono-Regular.otf");
}

@font-face {
  font-family: "calibre";
  src: url("../../public/CalibreRegular.otf");
}

@layer utilities {
}
